@media (min-width: 1300px){
    .container{
        max-width: 1240px;
    }
}
@media (max-width: 767px) {
    .header{
        background-position: 20vw top;
    }
    .subscribe-email, .subscribe__button{
        margin-left: 0;
    }
}
@media (max-width: 500px) {
    .article__heading{
        font-size: 40px;
    }
    .section__heading{
        font-size: 30px;
    }
}
@media (max-height: 992px) {
    .navbar{
        .show, .collapsing{
            background-color: rgba(255,255,255,0.9);
            .nav-item .nav-link{
                margin: 10px 0;
                width: 100%;
                text-align: center;
                &:before{
                    width: 20%;
                    left: 40%;
                }
            }
        }
    }
}
